<!DOCTYPE html>
<html lang="pt-br" class="limpanome-root">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <script src="https://kit.fontawesome.com/34e911297d.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/src/style/styleprincipal.css" />

    <title>Política de Privacidade</title>
</head>

<body>
    <!-- Inicio do cabeçalho -->
    <header class="header fixed-top bigger px-5">
        <div class="audote-container">
            <div class="header-container">
                <div class="logo-nav-container">
                    <div class="logo light">
                        <a href="#" style="color: #f2a312">Zaion Soluctions</a>
                    </div>
                    <div class="nav-trigger navbar dark">
                        <a role="button" data-bs-toggle="offcanvas" data-bs-target="#mobileNav"
                            aria-controls="mobileNav">
                            <div class="line-1"></div>
                            <div class="line-2"></div>
                            <div class="line-3"></div>
                        </a>
                       
                        <div class="offcanvas offcanvas-start nav-mobile-container" tabindex="-1" id="mobileNav" style="background-image: url('/src/img/texture-black2.jpg');">
                            
                         <div class="offcanvas-header" style="z-index: 1;">
                               
                                <div class="logo">
                                    <a href="index.html"><span style="color: #f2a312">Zaion Soluctions</span></a>
                                </div>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                           
                                    
                            <div class="offcanvas-body" style="z-index: 2;">
                               
                                <nav class="nav-mobile">
                                    <ul class="navbar-nav justify-content-end flex-grow-1">
                                        <li class="nav-item">
                                            <a role="button" class="nav-link" href="/index.html">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a role="button" class="nav-link" href="/index.html/#selection-10">De R$10.000 a R$30.000</a>
                                        </li>
                                        <li class="nav-item">
                                            <a role="button" class="nav-link" href="/index.html/#selection-30">De R$30.000 a R$50.000</a>
                                        </li>
                                        <li class="nav-item">
                                            <a role="button" class="nav-link" href="#">Parcerias</a>
                                        </li>
                                        <li class="nav-item">
                                            <a role="button" class="nav-link" href="#">Quem somos</a>
                                        </li>
                                        <li class="nav-item">
                                         
                                    </ul>
                                </nav>
                                 
                            

                                    
                                
                            </div>
                        </div>
                            </div>
                    </div>
                                
                        </div>
                    </div>
                </div>
                <!-- <div class="search-container d-none d-xl-block">
                    <div class="hero-form hero-form-round">
                        <form class="row gx-3 align-items-center">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Pesquisar contéudo" name="search" />
                            </div>
                            <div class="col-auto">
                                <button>
                                    <span class="fa fa-search"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div> -->
                <nav class="user-nav d-none d-sm-flex">
                 
                </nav>
            </div>
        </div>
    </header>
    <!-- Fim do cabeçalho -->

    <!-- Banner inicial -->
    <section class="hero hero-bg cover" style="background-image: url(src/img/hero-bg-2.jpg); position: relative; height: 400px; overflow: hidden;">
        <div class="slideshow" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
            <div class="slideshow-image" style="background-image: url('/src/img/group1.jpg')"></div>
            <div class="slideshow-image" style="background-image: url('/src/img/group2.jpg')"></div>
            <div class="slideshow-image" style="background-image: url('/src/img/groip.jpg')"></div>
            <div class="slideshow-image" style="background-image: url('/src/img/group4.jpg')"></div>
        </div>
        <div class="hero-opacity"></div>
      
        </div>
        <div class="hero-caption" style="position: relative; z-index: 6;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-9 col-xxl-8">
                        <h1 class="text-dark text-center">
                    <div class="presentation-controller" style=" ">
                            <span style="color: var(--MainColorDark)">Zaion</span> <span>é</span></span>
                            <span>ir</span> <span>além</span> <span>de</span> <span>uma</span> <span> simples</span> <span>limpeza </span> <span>de</span> <span>nome</span>
                        </h1>
                        <div class="hero-subtitle text-dark text-center mt-3 mt-lg-4" style="color: #ffffff !important;
                            
                        text-shadow: 0px 0px 5px #000000;
                        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                        padding: 2%;
                        background-color: var(--MainColor);
                        margin: 3%;
                        border-radius: 50%;">
                            <span>Um</span> <span>caminho</span> <span>para</span> <span>a
                                 <strong>estabilidade financeira</strong></span>
                        </div>
                    </div>
                        <div class="mt-3 mt-lg-4 text-center">
                            <a href="#" class="btn rounded-pill section-cta"><span>Quero conhecer</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="imagem-controller" style="margin: 15%;">
        <div class="imagem-celular" style="background-color:#D3D3D3; position: relative; z-index: 1;">
            <div class="hider">
                <img src="/src/img/zaion_logo.jpg" alt="Your Image Alt Text" class="text" />
            </div>
        </div>
    </section>
    
    
    <!-- Fim do banner -->

    <!-- Fim da sessão beneficios -->

    <!-- Sessão adicional -->
    <section class="mb-100 mt-100">
        <div class="promo-img cover pt-100 pb-100" style="background-image: url(src/img/bg1.jpg)">
            <div class="row justify-content-md-center" id="selection-10">
                <div class="col-sm-12 col-lg-6 text-center">
                    <h2 class="section-h2">
                        Politica de Privacidade
                    </h2>
                    <p class="text-light">
                        <div>
                            <ul>
                                <li>
                                    <h2><span style="color: rgb(68, 68, 68);">Política de Privacidade</span></h2>
                                    <p><span style="color: rgb(68, 68, 68);">A sua privacidade é importante para nós. É política do respeitar a sua
                                            privacidade em relação a qualquer informação sua que possamos coletar no site
                                            <a href="www.zaionsoluctions.com.br">www.zaionsoluctions.com.br</a>, e outros sites que possuímos e
                                            operamos.</span></p>
                                    <p><span style="color: rgb(68, 68, 68);">Solicitamos informações pessoais apenas quando realmente precisamos delas
                                            para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento.
                                            Também informamos por que estamos coletando e como será usado.</span></p>
                                    <p><span style="color: rgb(68, 68, 68);">Apenas retemos as informações coletadas pelo tempo necessário para
                                            fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente
                                            aceitáveis ​​para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não
                                            autorizados.</span></p>
                                    <p><span style="color: rgb(68, 68, 68);">Não compartilhamos informações de identificação pessoal publicamente
                                            ou com terceiros, exceto quando exigido por lei.</span></p>
                                    <p><span style="color: rgb(68, 68, 68);">O nosso site pode ter links para sites externos que não são operados por
                                            nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos
                                            aceitar responsabilidade por suas respectivas <a href="https://politicaprivacidade.com/" rel="noopener noreferrer"
                                                target="_blank" style="background-color: transparent; color: rgb(68, 68, 68);">políticas de
                                                privacidade</a>.</span></p>
                                    <p><span style="color: rgb(68, 68, 68);">Você é livre para recusar a nossa solicitação de informações pessoais,
                                            entendendo que talvez não possamos fornecer alguns dos serviços desejados.</span></p>
                                    <p><span style="color: rgb(68, 68, 68);">O uso continuado de nosso site será considerado como aceitação de nossas
                                            práticas em torno de privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos
                                            com dados do usuário e informações pessoais, entre em contato conosco.</span></p>
                                    <ul>
                                        <li><span style="color: rgb(68, 68, 68);">O serviço Google AdSense que usamos para veicular publicidade usa um
                                                cookie DoubleClick para veicular anúncios mais relevantes em toda a Web e limitar o número de vezes
                                                que um determinado anúncio é exibido para você.</span></li>
                                        <li><span style="color: rgb(68, 68, 68);">Para mais informações sobre o Google AdSense, consulte as FAQs
                                                oficiais sobre privacidade do Google AdSense.</span></li>
                                        <li><span style="color: rgb(68, 68, 68);">Utilizamos anúncios para compensar os custos de funcionamento deste site
                                                e fornecer financiamento para futuros desenvolvimentos. Os cookies de publicidade comportamental
                                                usados ​​por este site foram projetados para garantir que você forneça os anúncios mais relevantes
                                                sempre que possível, rastreando anonimamente seus interesses e apresentando coisas semelhantes que
                                                possam ser do seu interesse.</span></li>
                                        <li><span style="color: rgb(68, 68, 68);">Vários parceiros anunciam em nosso nome e os cookies de rastreamento de
                                                afiliados simplesmente nos permitem ver se nossos clientes acessaram o site através de um dos sites
                                                de nossos parceiros, para que possamos creditá-los adequadamente e, quando aplicável, permitir que
                                                nossos parceiros afiliados ofereçam qualquer promoção que possa fornecer para fazer uma compra.</span></li>
                                    </ul>
                                </li>
                        
                                <li>
                                    <h3><span style="color: rgb(68, 68, 68); margin: 2%;">Compromisso do Usuário</span></h3>
                                    <p><span style="color: rgb(68, 68, 68);">O usuário se compromete a fazer uso adequado dos conteúdos e da informação
                                            que o oferece no site e com caráter enunciativo, mas não limitativo:</span></p>
                                    <ul>
                                        <li><span style="color: rgb(68, 68, 68);">A) Não se envolver em atividades que sejam ilegais ou contrárias à boa
                                                fé a à ordem pública;</span></li>
                                        <li><span style="color: rgb(68, 68, 68);">B) Não difundir propaganda ou conteúdo de natureza racista,
                                                xenofóbica, <a href='https://kiwibet.br.com'
                                                    style='color:inherit !important; text-decoration: none !important; font-size: inherit !important;'>kiwibet</a>
                                                ou azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos;</span></li>
                                        <li><span style="color: rgb(68, 68, 68);">C) Não causar danos aos sistemas físicos (hardwares) e lógicos
                                                (softwares) do , de seus fornecedores ou terceiros, para introduzir ou disseminar vírus informáticos ou
                                                quaisquer outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente
                                                mencionados.</span></li>
                                    </ul>
                                </li>
                        
                                <li>
                                    <h3><span style="color: rgb(68, 68, 68);margin: 2%;">Mais Informações</span></h3>
                                    <p><span style="color: rgb(68, 68, 68);">Esperemos que esteja esclarecido e, como mencionado anteriormente, se
                                            houver algo que você não tem certeza se precisa ou não, geralmente é mais seguro deixar os cookies
                                            ativados, caso interaja com um dos recursos que você usa em nosso site.</span></p>
                                    <p><span style="color: rgb(68, 68, 68);">Esta política é efetiva a partir de 14 Dezembro de 2023 ás 19:37</span></p>
                                </li>
                            </ul>
                        </div>
                        
                        
                    </p>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Fim da sessão adicional -->
    <!-- Fim da sessão adicional -->

    <!-- Rodapé -->
    <footer class="site-footer style-1 mt-100" id="footer" style="background-image: url(src/img/bg10.png)">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <h5 class="footer-title">
                        Parcerias
                    </h5>
                    <div class="col">
                        <div class="widget widget_about">
                            <p>
                                Zaion Tech
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="widget widget_about">
                            <p>
                                Zaion Parcerias
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <!-- Fim do rodapé de baixo teste para teste -->
    </footer>

    <footer class="end1">
        <div class="footer">
        <div class="row">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
        
        <div class="row">
        <ul>
        <li><a href="#">Contate-nos</a></li>
        <li><a href="#">Serviços</a></li>
        <li><a href="./privacidade.html">Privacidade</a></li>
        <li><a href="./termos.html">Termos e Condições</a></li>
        <!-- <li><a href="#">Career</a></li> -->
        </ul>
        </div>
        
        <div class="row">
        Zaion Soluções Copyright © 2023 - Todos os Direitos Reservados || Designed by : <a href="https://github.com/belforz" class="github-space" style="padding: 0.5%;">belforz</a> 
        </div>
        </div>
        </footer>
    <!-- Fim do rodapé -->

    <script src="src/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="src/js/jsprincipal.js"></script>
    <script src="src/js/multi-animated-counter.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        // function sair() {
        //     Swal.fire({
        //         title: 'Você tem certeza que deseja sair?',
        //         icon: 'info',
        //         showCancelButton: true,
        //         confirmButtonColor: '#3085d6',
        //         cancelButtonColor: '#d33',
        //         confirmButtonText: 'Sim, quero sair',
        //         cancelButtonText:'Cancelar'
        //     }).then((result) => {
        //         if (result.isConfirmed) {
        //             window.location.href = "logout.php";
        //         }
        //     })
        // }
    </script>
</body>

</html>